<%- include("parts/header") %> 

<main>
    <div class="container mt-4 text-center">
        <h1>Assalomu alaykum <%= user_name ? user_name : "Mehmon"%></h1>
    </div>
</main>

<%- include("parts/footer") %> 

